<link rel="stylesheet" href="/css/footerStyle.css" />

<div id="footerParent">

   
        <div id="contact"> Give Us a Call <a href="tel:732-604-4906"><b>732-604-4906</b></a></div>
    
    <div id="boxCol">
        <div id="footerLogo">
            <a href="https://www.instagram.com/goldsdetailingnj/">
                <img src="/images/instalogo.png"></img>   
            </a>
        </div>
    </div>

</div>