<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="/css/homepageStyle.css" />
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/jpg" href="../images/favicon.ico"/>

<%- include ("./partials/header"); %>
<div id="HomeImage" alt="porshce detailed by Golds" >
    <img src="/images/washing1.jpg" width="100%"></img>
  </div>
  <div class="HomePageBackDrop">
    <div class="serviceCard"> 
      <h2>Services</h2>
        <div id="sectionTitleLine"></div>
        <h2>Two Step Paint Correction</h2>
        <p> Paint Correction and and 6 months of sealant is $500. Please note trucks are an extra $100.</p>
        <p> Paint Correction and and three years of ceramic coating is $700. Please note trucks are an extra $150 and wheels are an additional $100.</p>
        <p> Paint Correction and and five years of ceramic coating is $850. Please note trucks are an extra $150 and wheels are an additional $100.</p>
        <h2>One Step Correction</h2>
        <p>Basic polish is $300.</p>
        <p>Three year ceramic coating $250.</p>
        <p>One step correction (polish) and three year coating $450. Please note trucks are an additional $100.</p>
        <p>One step correction (polish) and five year coating $550. Please note trucks are an additional $150.</p>
        <h2>Exterior and Interior Washes</h2>
        <p>Basic plans start at $80</p>
        <p>6 months of sealant starts at $300, depending on the interior condition.</p>
        <p>Shampoo carpets and seats is $150.</p>
  </div>
  <div id="HomeImage" alt="porshce detailed by Golds" >
    <img src="/images/washing2.jpg" width="100%" height="700px"></img>
  </div>
<%- include ("./partials/footer"); %>