#footerParent{
    position: relative;
    display: flex;
    width: 100%;
    height: 160px;
    background-image: linear-gradient(to right, rgb(0, 0, 0) , rgb(255, 205, 4)); 
    text-align: center;
}

#boxCol{
    flex:1;
    position: relative;
    width: 160px;
    height: 160px;
    float: left;
}
#footerLogo img{
    flex:1;
    height: 160px;
    width: 160px;
    position: relative;
    z-index: 1000;
    float: right;

}
#contact{
    height: auto;
    position: relative;
    display: inline-block;
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    padding-top: 20px;
    
    
    
}
#contactWrapper{
    position: relative;
    display: inline-block;
    text-align: center;
}
b{
    color:white;
}
